#update-membership {
  margin-top: 1rem;
  margin-right: 0.5rem;
}

#delete-membership,
#export-csv {
  margin-top: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

@media (max-width: 768px) {
  .flex-container {
    max-width: 100%;
  }
}

#avf-membership-admin-form label,
#avf-membership-admin-form button {
  margin-top: 1rem;
}

.form-group {
  margin-top: 1rem;
  display: flex;
  align-items: center; /* Aligns checkbox and label vertically */
}

#avf-membership-admin-form .form-group label {
  margin-top: 0;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
  order: -1;
}

.list-container {
  max-height: 65vh;
  max-width: 100%;
  overflow: auto;
  border: 1px solid #c3c4c7;
}

.list-container table {
  width: 100%;
  border-top: none;
}

.list-container thead th {
  position: sticky;
  top: 0;
  background: #f8f8f8;
  z-index: 3;
  padding: 1rem 0.5rem;
  text-align: center;
}

.list-container th:first-child,
.list-container td:first-child {
  padding: 0 !important;
  min-width: 40px;
  vertical-align: middle;
  text-align: center;
}

.list-container th, .list-container td {
  vertical-align: middle;
}

.list-container input[type="checkbox"] {
  margin-bottom: 0 !important;
}

.beitragsliste {
  position: relative;
  top: 0;
  margin-top: 1rem;
  padding: 0.5rem;
}

.table-row-link,
.table-header-link {
  cursor: pointer;
  text-wrap: nowrap;
}

.table-row-link:hover {
  background-color: lightgray !important;
}

label:has(+ input:required)::after {
  content: "*";
}

.form-group input:required + label::after {
  content: "*";
}

.highlight-red {
  background-color: #ffcccc !important;
}

.highlight-red:hover {
  background-color: #ffdddd !important;
}

.highlight-yellow {
  background-color: #ffffcc !important;
}

.highlight-yellow:hover {
  background-color: #ffffdd !important;
}

.highlight-blue:hover {
  background-color: #cceeff !important;
}
.notizen-col {
  text-wrap: wrap;
  min-width: 250px;
}
