#delete-membership,
#delete-schnupperkurs,
#export-csv,
#set-reminder,
#delete-bulk,
#update-fees {
  margin-top: 1rem;
}

#admin-page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

@media (max-width: 768px) {
  #admin-page-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}

#search-container {
  position: relative;
  display: inline-block;
}

#search-label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none; /* click through icon */
}

#search {
  padding-left: 35px;
  margin: 0;
}

@media (max-width: 768px) {
  #search-container,
  #search {
    margin-top: 0.5rem;
    width: 100%;
  }
}

#filter-list {
  display: flex;
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
}

#filter-list div {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

#filter-list label {
  white-space: nowrap;
}

#admin-form-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

@media (max-width: 768px) {
  .admin-form-container {
    max-width: 100%;
  }
}

#avf-membership-admin-form > div > label,
#avf-membership-admin-form > div > .form-group,
#avf-schnupperkurs-admin-form > div > label,
#avf-schnupperkurs-admin-form > div > .form-group {
  margin-top: 0.9rem;
}

#avf-membership-admin-form > div > *:last-child,
#avf-schnupperkurs-admin-form > div > *:last-child {
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-group div {
  width: 100%;
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

.form-group div {
  display: flex;
  flex-direction: column;
}

#avf-membership-admin-form .form-group label {
  margin-top: 0;
}

.form-group input[type="checkbox"] {
  margin-top: 0;
  order: -1;
}

#avf-membership-fees-form div {
  display: flex;
  gap: 10px;
}

#avf-membership-fees-form input.fee-input {
  min-width: 50px;
  max-width: 100px;
}

#avf-membership-fees-form label {
  flex: 0 0 50%;
  white-space: nowrap;
}

.list-container {
  max-height: 65vh;
  max-width: 100%;
  overflow: auto;
  border: 1px solid #c3c4c7;
  margin-top: 1rem;
}

.list-container table {
  width: 100%;
  border-top: none;
}

.list-container thead th {
  position: sticky;
  top: 0;
  background: #f8f8f8;
  z-index: 3;
  padding: 1rem 0.5rem;
  text-align: center;
}

.list-container th:first-child,
.list-container td:first-child {
  padding: 0 !important;
  min-width: 40px;
  vertical-align: middle;
  text-align: center;
}

.list-container th,
.list-container td {
  vertical-align: middle;
}

.list-container td.no-memberships-msg {
  text-align: left;
  padding: 8px !important;
}

.list-container input[type="checkbox"] {
  margin-bottom: 0 !important;
}

.beitragsliste {
  position: relative;
  top: 0;
  margin-top: 1rem;
  padding: 0.5rem;
}

.table-row-link,
.table-header-link {
  cursor: pointer;
  text-wrap: nowrap;
}

.table-row-link:hover {
  background-color: lightgray !important;
}

.table-header-link:focus {
  box-shadow: none;
  color: #0071a1;
}

.table-header-link.inactive::after {
  content: "▼▲";
  margin-left: 3px;
  color: lightgray;
}

.table-header-link.asc,
.table-header-link.desc {
  text-shadow: 0 0 1px #0071a1;
}

.table-header-link.asc::after {
  content: "▼";
  margin-left: 6px;
  margin-right: 7px;
}

.table-header-link.desc::after {
  content: "▲";
  margin-left: 3px;
  margin-right: 10px;
}

label:has(+ input:required)::after {
  content: "*";
}

.form-group input:required + label::after {
  content: "*";
}

.highlight-red {
  background-color: #ffcccc !important;
}

.highlight-red:hover {
  background-color: #ffdddd !important;
}

.highlight-yellow {
  background-color: #ffffcc !important;
}

.highlight-yellow:hover {
  background-color: #ffffdd !important;
}

.highlight-light-blue {
  background-color: #e6f7ff !important;
}

.highlight-blue:hover {
  background-color: #e6f7ff !important;
}

.highlight-green {
  background-color: #ccffcc !important;
}

.highlight-green:hover {
  background-color: #ddffdd !important;
}

.notizen-col {
  text-wrap: wrap;
  min-width: 250px;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#membership-stats {
  max-width: 700px;
}

#membership-stats table thead tr,
#membership-stats table tbody tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#membership-stats table thead tr {
  border-bottom: 1px solid #c3c4c7;
}

#membership-stats th,
#membership-stats td {
  border: none;
  text-align: right;
  flex: 1 1 50%;
}

#membership-stats th:first-child,
#membership-stats td:first-child {
  text-align: left;
}

#membership-stats h2 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  border-bottom: 1px solid #c3c4c7;
  padding-bottom: 0.5rem;
  width: 100%;
}

#membership-stats h3 {
  margin-top: 1.2rem;
  font-weight: 400 !important;
}

tr.total {
  border-top: 1px solid #c3c4c7;
  background-color: #ededed !important;
}
